/* reset  ------------------------------------------ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

body{
    background-color: black;
    font-family: 'Nerko One', cursive;
}
/* mio contenitore del gioco memory game -------------*/
.container{
    width: 75%;
    margin: 0px auto;
    background-color: #ADD8E6;
}

.title{
    color: white;
    text-align: center;
    font-size: 2rem;  
    margin: 10px;
    text-transform: uppercase;  
}

/* sezione del game ------------------------------- */
.game{
    width: 75%;
    margin: auto;
}

/* stile comune per le 12 card ------------------------*/
.card{
    position: relative;
    width:  150px;
    height: 175px;
    border-radius: 10px;
    float: left;
    margin: 15px 25px;
    box-shadow: 1px 1px 3px 2px #818080;
    background-image: url('../img/pattern.png');
    background-size: contain;
    padding: 20px;
}

/* unica carta girata ----------------*/

.carta_scoperta{
    position: absolute;
    bottom: 5px;
    left: 20px;
    color: #E61986;
}

.sei{position: relative;
    background-image: url('../img/noun_air_balloon_3134741.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
}


/* titolo delle carta, tutti invisibili -------------------*/
.nome_carta > h2{
    opacity: 0;
}

/* set comuti per tutti i titoli card---------------------  */
.nome_carta > h2{
    position: absolute;
    bottom: 10px;
    left: 20px;
}

/* classi colori comuni */
.arancione{
    color: orange;
}
.rosa{
    color: #E61986;
}
.celeste{
    color:cyan
}
.verde{
    color: green;
}

.red{
    color: red;
}
.giallo{
    color: yellowgreen;
}

/* carte tractor  1-9*/
.nove:hover, .uno:hover, .nome_carta > h2:hover{
    background-image: url('../img/noun_Tractor_3134797.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    opacity: 1;
}

/* carta ballon dulla 2 */
.due:hover, .nome_carta > h2:hover{
    background-image: url('../img/noun_air_balloon_3134741.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    opacity: 1;
}

/* carte tram 3-12 */
.tre:hover, .dodici:hover, .nome_carta > h2:hover{
    background-image: url('../img/noun_Tram_3134750.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    opacity: 1;
}

/* carte bici 10-11 */
.dieci:hover, .undici:hover, .nome_carta > h2:hover{
    background-image: url('../img/noun_Bicycle_3134821.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    opacity: 1;
}

/* carte sottomarino 4-7 */
.quattro:hover, .sette:hover, .nome_carta > h2:hover{
    background-image: url('../img/noun_Submarine_3134738.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    opacity: 1;
}
/* carte nave 5-8 */
.cinque:hover, .otto:hover, .nome_carta > h2:hover{
    background-image: url('../img/noun_Cruise_Ship_3134824.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    opacity: 1;
















/* footer--------------------------------------------- */
footer{
    width: 100%;
    text-align: center;
    color: #000;

}