/* reset  ------------------------------------------ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

body{
    background-color: black;
    font-family: 'Nerko One', cursive;
}
/* mio contenitore del gioco memory game -------------*/
.container{
    width: 75%;
    margin: 0px auto;
    background-color: #ADD8E6;
}

.title{
    color: white;
    text-align: center;
    font-size: 2rem;  
    margin: 10px;
    text-transform: uppercase;  
}

/* sezione del game ------------------------------- */
.game{
    width: 75%;
    margin: auto;
}

/* stile comune per le 12 card ------------------------*/
.card{
    width:  150px;
    height: 175px;
    border-radius: 10px;
    float: left;
    margin: 15px 25px;
    box-shadow: 1px 1px 3px 2px #818080;
    background-image: url('../img/pattern.png');
    background-size: contain;
    padding: 20px;
}

.text_card{
    position: absolute;
    bottom: 5px;
    left: 20px;
    color: #E61986;
}


/* unica carta girata ----------------*/
.sei{position: relative;
    background-image: url('../img/noun_air_balloon_3134741.png');
    /* background-size: contain; */
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
}


/* footer */
footer{
    width: 100%;
    text-align: center;
    color: #000;

}